/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

/* CSS COLOUR VARIABLES: */
:root {
  --primary-color-dark: #386641;
  --primary-color-medium: #6a994e;
  --primary-color-light: #a7c957;
  --neutral-color-white: rgb(240, 255, 255);
  --secondary-color-light: #ffe76d;
  --secondary-color-extralight: #f0e5aa;
}

/* .container {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  padding: 15px;
} */

body {
  height: 98vh;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2fr 7fr 1fr;
}

/* styling for duisclaimer */
#myModal {
  position: absolute;
  left: 10vw;
  top: 25vh;
  width: 80vw;
  min-height: 35vh;
  max-height: 65vh;
  text-align: center;
  background-color: rgb(15, 18, 16);
  border: 5px solid var(--secondary-color-light);
  padding: 20px;
}
#myModal h2 {
  font-size: 3rem;
  color: var(--neutral-color-white);
  margin-top: 20px;
  margin-bottom: 10px;
}

#myModal p {
  font-size: 1.2rem;
  color: var(--secondary-color-extralight);
  margin-bottom: 20px;
}

#closeModal {
  padding: 10px;
  /* min-height:;
  min-width: ; */
  color: var(--secondary-color-light);
  /* border: solid 3px var(--secondary-color-medium); */
  background-color: var(--primary-color-dark);
}

#closeModal:hover {
  cursor: pointer;
}

/* STYLING FOR HEADER SECTION */
header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: #264229;
  border: 3px solid var(--primary-color-dark);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.header-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header-items button {
  z-index: 1;
  height: fit-content;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  background-color: var(--secondary-color-light);
  color: var(--primary-color-dark);
  /* font-family: Tahoma, sans-serif; */
  font-weight: 800;
  margin: 3px;
  min-width: 100px;
  min-height: 50px;
}

.header-items button:active {
  background-color: var(--secondary-color-extralight);
  color: var(--primary-color-light);
}

.logo {
  height: 18vh;
}

.header-text {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 10px;
  font-size: 6vh;
  grid-row: 1/2;
}

p {
  font-size: 6vh;
}

/* nav {
  grid-row: 2/3;
  font-size: 0.8rem;
  display: flex;
  gap: 3rem;
} */

/* STYLING FOR MAIN SECTION */
main {
  grid-row: 2/3;
  grid-column: 1/-1;
  background-color: var(--primary-color-medium);
  border: 3px solid var(--primary-color-dark);
  position: relative;
  /* font-family: Tahoma, sans-serif; */
}

#map {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

/* STYLING FOR FILTERS POP-IN */

.dropdown {
  z-index: 1;
  grid-row: 2/3;
  height: 70%;
  width: 0;
  max-width: 380px;
  position: fixed;
  z-index: 3;
  left: 0;
  background-color: rgba(6, 15, 11, 0.95);
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown > h2 {
  color: var(--neutral-color-white);
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

label {
  color: var(--secondary-color-medium);
  margin-top: 5px;
  margin-left: 10px;
}

select {
  min-width: 40%;
  max-width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

#dropdown h2 {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15x;
  color: var(--secondary-color-extralight);
  /* font-family: Tahoma, sans-serif; */
  font-size: 1.4rem;
  font-weight: 300;
}

select {
  background-color: var(--secondary-color-extralight);
  color: var(--primary-color-dark);
}

option {
  font-size: 1rem;
  /* font-family: Tahoma, sans-serif; */
}

option:active {
  background-color: var(--secondary-color-light);
}

#dropdown-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-extralight);
}

/* STYLING FOR FORM POP-IN */

.popin {
  grid-row: 2/3;
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  background-color: rgba(6, 15, 11, 0.95);
  overflow: auto;
  transition: 0.5s;
  border-radius: 3px;
  /* font-family: Tahoma, sans-serif; */
  font-size: 1rem;
}

/* popin > .checkbox {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 
  color: 
  display: block;
} */

#popin-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-extralight);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin-left: 10px;
  color: var(--neutral-color-white);
  /* font-family: Tahoma, sans-serif; */
  font-size: 0.8rem;
  font-weight: 200;
}

.hidden {
  display: none;
}

.postcode {
  display: flex;
  max-width: 70vw;
}

.accessible {
  display: flex;
}

.tickbox {
  margin-left: 15px;
  margin-right: 15px;
}

label {
  margin-left: 20px;
}

textarea,
input {
  margin-bottom: 5px;
  margin-top: 5px;
}

form button {
  margin-bottom: 20px;
}

#popin-close-button:hover,
#popin-button:hover,
#dropdown-button:hover,
#dropdown-close-button:hover,
a {
  cursor: pointer;
}

.popin h2 {
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 20px;
  color: var(--secondary-color-extralight);
  /* font-family: Tahoma, sans-serif; */
  font-size: 0.8rem;
  font-weight: 300;
}

/* FOOTER STYLING  */
footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #264229;
  border: 3px solid var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* font-family: Tahoma, sans-serif; */
}

footer h3 {
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--secondary-color-extralight);
}

.footer-links {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: white;
}

a:active {
  color: var(--primary-color-light);
}

/* @media (width < 600px) {
  .popin {
    width: 0;
    max-width: 100vw;
  }
} */

@media (width > 1100px) {
  .header-text {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  header p {
    margin-top: 10px;
    margin-left: 15px;
  }
  .popin {
    max-width: 60vw;
  }
}

@media (width < 600px) {
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1.2rem;
  }
}
