/* CSS COLOUR VARIABLES: */

:root {
  --primary-color-dark: #386641;
  --primary-color-medium: #6a994e;
  --primary-color-light: #a7c957;
  --neutral-color-white: rgb(240, 255, 255);
  --secondary-color-medium: #ffc300;
  --secondaty-color-light: #ffd60a;
}

.container {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2fr 7fr 1fr;
}

/* STYLING FOR HEADER SECTION */
header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: var(--neutral-color-white);
  border: 3px solid var(--primary-color-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-items {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
}

.logo {
  height: 16vh;
}

h1 {
  font-size: 1.8rem;
  grid-row: 1/2;
}

nav {
  grid-row: 2/3;
  font-size: 0.8rem;
  display: flex;
  gap: 3rem;
}

/* STYLING FOR MAIN SECTION */

main {
  grid-row: 2/3;
  grid-column: 1/-1;
  background-color: var(--primary-color-medium);
  border: 3px solid var(--primary-color-dark);
  position: relative;
}

#map {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

/* STYLING FOR FILTERS POP-IN */
#dropdown-button {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/logo.jpg");
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.dropdown {
  z-index: 1;
  grid-row: 2/3;
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111111cb;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
  border-radius: 10px;
}

/*dropdown > .checkbox {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 
  color: 
  display: block;
} */

#dropdown-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-medium);
}

/* STYLING FOR FORM POP-IN */
#popin-button {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./images/logo.jpg");
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.popin {
  grid-row: 2/3;
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111111cb;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
  border-radius: 10px;
}

/* popin > .checkbox {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 
  color: 
  display: block;
} */

#popin-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-medium);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 80%;
}

#popin-close-button:hover,
#popin-button:hover,
#dropdown-button:hover,
#dropdown-close-button:hover {
  cursor: pointer;
}

h2 {
  color: var(--neutral-color-white);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

#form {
  color: var(--neutral-color-white);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  width: 100%;
}

/* FOOTER STYLING  */
footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: var(--neutral-color-white);
  border: 3px solid var(--primary-color-dark);
}
