* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS COLOUR VARIABLES:

:root {
  --primary-bg-color: #1e90ff;
  --primary-color: #ffffff;
}

.container {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  padding: 15px;
} */
