/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS COLOUR VARIABLES: */
:root {
  --primary-color-dark: #386641;
  --primary-color-medium: #6a994e;
  --primary-color-light: #a7c957;
  --neutral-color-white: rgb(240, 255, 255);
  --secondary-color-medium: #ffc300;
  --secondary-color-light: #ffe046;
}

/* .container {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  padding: 15px;
} */

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2fr 7fr 1fr;
}

/* styling for duisclaimer */
#myModal {
  position: absolute;
  left: 10vw;
  top: 25vw;
  width: 80vw;
  height: 40vh;
  text-align: center;
  background-color: rgb(13, 14, 13);
  border: 5px solid var(--secondary-color-medium);
}
#myModal h2 {
  font-size: 3rem;
  color: rgb(231, 59, 40);
  margin-top: 20px;
  margin-bottom: 10px;
}

#myModal p {
  font-size: 1.2rem;
  color: var(--secondary-color-light);
  margin-bottom: 20px;
}

/* STYLING FOR HEADER SECTION */
header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: var(--neutral-color-white);
  border: 3px solid var(--primary-color-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-items {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
}

.logo {
  height: 16vh;
}

h1 {
  font-size: 1.8rem;
  grid-row: 1/2;
}

nav {
  grid-row: 2/3;
  font-size: 0.8rem;
  display: flex;
  gap: 3rem;
}

/* STYLING FOR MAIN SECTION */
main {
  grid-row: 2/3;
  grid-column: 1/-1;
  background-color: var(--primary-color-medium);
  border: 3px solid var(--primary-color-dark);
  position: relative;
}

#map {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

/* STYLING FOR FILTERS POP-IN */
#dropdown-button {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.dropdown {
  z-index: 1;
  grid-row: 2/3;
  height: 70%;
  width: 0;
  max-width: 300px;
  position: fixed;
  z-index: 3;
  left: 0;
  background-color: #111111cb;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown > h2 {
  color: var(--neutral-color-white);
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

label {
  color: var(--secondary-color-medium);
  margin-top: 30px;
  margin-left: 10px;
}

select,
option {
  min-width: 40%;
  max-width: 60%;
  margin-top: 10px;
  margin-left: 10px;
}

option {
  max-width: 100%;
}

#dropdown-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-medium);
}

/* STYLING FOR FORM POP-IN */
#popin-button {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.popin {
  grid-row: 2/3;
  height: 70%;
  width: 0;
  max-width: 300px;
  position: fixed;
  z-index: 3;
  left: 0;
  background-color: #111111cb;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s;
  border-radius: 10px;
}

/* popin > .checkbox {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 
  color: 
  display: block;
} */

#popin-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
  color: var(--secondary-color-medium);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 80%;
}

#popin-close-button:hover,
#popin-button:hover,
#dropdown-button:hover,
#dropdown-close-button:hover {
  cursor: pointer;
}

.popin h2 {
  margin-top: 40px;
  color: var(--neutral-color-white);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

#form {
  color: var(--neutral-color-white);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  width: 100%;
}

/* FOOTER STYLING  */
footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: var(--neutral-color-white);
  border: 3px solid var(--primary-color-dark);
}
